[submodule "pixman"]
	path = pixman
	url = git://anongit.freedesktop.org/git/pixman.git
[submodule "cairo"]
	path = cairo
	url = git://anongit.freedesktop.org/git/cairo
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
